.dropbtn {
    background-color: #2c2e2c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
.dropdown {
    display: inline-block;
    width: 5%;
}
.menu{
    background-color: #2c2e2c;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c2e2c;
    min-width: 160px;
    box-shadow: 0px 10px 16px 0px #323332;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
   text-decoration: none;
   display: block;
}
.dropdown-content a:hover {
    background-color: #141414;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: black;
}
footer{
  text-align: right;
  color: red;
  margin-right: 5%;
}
hr{
  margin-top: 67%;
}