body{
	text-align: center;
	background-color: #4d5463;
}
table{
	text-align: center;
	margin: 3%;
	width: 95%;
}
h1{
	color: #dbded1;
	font-size: 3vw;
}
div{
	text-align: center;
}
p{
	font-size: 2vw;
}
#photo{
	height: 20%;
	width: 20%;
	border: 2px solid #262625;
}
.elem{
	transition: 0.5s all;
	font-size: 1vw;
	border: 1px solid black;
}
.elem:hover{
	transform: scale(1.5);
}
.nonmetals{
	background-color: #9e95c7;
}
.gas{
	background-color: #84b9d7;
}
.gas:hover{
	box-shadow: -5px 33px 40px #D8DBE2;
}
.metaloid{
	background-color: #f0f9c1;
}
.alcali-metals{
	background-color: #a3dac9;
}
.halogens{
	background-color: #feecb9;
}
.post-tr-metals{
	 background-color: #fecda0;
}
.post-tr-metals:hover{
	transform: matrix(2, -0.3, 0, 2, 0, 0);
}
.alcaline{
	background-color: #cdebc8;
}
.metals{
	background-color: #f8a78e;
}

.lanthanoids{
	background-color: #e68b96;
}
.lanthanoids:hover{
	transform: skew(15deg, 10deg) scale(1.5);
}
.actinoids{
	background-color: #c5678e;
}
.actinoids:hover{
	transform: rotate(720deg) scale(1.5);
}
#gold:hover
{
	transform: scale(2.0);
	background-color: gold;
}
.mass{
	text-align: right;
	font-size: 70%;
}
.num{
	text-align: left;
	font-size: 70%;
}
.L{
	font-size: 200%;
	font-weight: bold;
}
.name{
	font-size: 70%;
}